[submodule "3rdparty/flash-linear-attention"]
	path = 3rdparty/flash-linear-attention
	url = https://github.com/zhuoc3/flash-linear-attention.git
[submodule "3rdparty/torchtitan"]
	path = 3rdparty/torchtitan
	url = https://github.com/zhuoc3/torchtitan.git
[submodule "3rdparty/lm-evaluation-harness"]
	path = 3rdparty/lm-evaluation-harness
	url = https://github.com/EleutherAI/lm-evaluation-harness
